@model RiverRiddle.Models.GameState
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayGame</title>
    <link rel="stylesheet" href="~/Content/Index.css" />
    <!-- Including jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div>
        <h2>River Riddle</h2>
    </div>

    <div class="game-layout">
        <section class="left-pannel">
            <h3>Rules</h3>
            <p>
                1. Only the Farmer can row
                <br>
                <br>2. The Boat can carry only TWO things, including the rower, at any one time
                <br>
                <br>3. If the Fox is left alone with the Chicken, the Fox will eat the Chicken
                <br>
                <br>4. If the Chicken is left alone with the Corn, the Chicken will eat the Corn
            </p>

            @* setting the texr of the left pannel flex box to display the rules for the user
                this is in a class names left pannel for easier styling*@
        </section>
        <div class="middle-section">
            <section class="game-box">

                @Html.Partial("_GameBoard", Model)

            </section>

            <section class="status-box">

                <p>@Model.Status</p>

            </section>
        </div>
        <section class="right-pannel">
            <h3>Controls</h3>
            <p>
                Click on the Character/Item you want to put on the Boat
                <br>
                <br>To remove Characters/Item of the Boat click on said Character/Item
                <br>
                <br>When you are happy with your choice click the Confirm Button
                <br>
                <br>This will send the Character(s)/Item across the River
            </p>

            @* setting text in the right pannel flext box to display controls to the user for better usability of the website 
                within the right pannel class for easier styling*@
        </section>
    </div>

    @* the above section is in the game layout section, for easier styling *@

    <script>

        function resetGame() {
            $.post('@Url.Action("ResetGame", "Game")', {}, function (data) {

                // reset the game board
                $('.game-box').html(data);

                // updates status box
                updateStatus();

                // re-enables boat button
                $('.boat-btn').prop('disabled', false);

            });
        }

        function togglePassenger(name) {
            $.post('@Url.Action("TogglePassenger","Game")', { name: name }, function(data) {
                $('.game-box').html(data);

                var state = updateStatus();

                if (state === 'Invalid' || state === 'Win') {

                    //disables all character clicks
                    $('.character').removeAttr('onclick');

                    //disables boat button
                    $('.boat-btn').prop('disabled', true);

                }
            });
        }

        function moveBoat() {
            $.post('@Url.Action("MoveBoat", "Game")', {}, function (data) {
                $('.game-box').html(data);

                var state = updateStatus();

                //check is required on both, as only having one allows game to continue
                if (state === 'Invalid' || state === 'Win') {

                    //disables all character clicks
                    $('.character').removeAttr('onclick');

                    //disables boat button
                    $('.boat-btn').prop('disabled', true);
                }
            });
        }

        function updateStatus() {
            var statusData = $('#status-data');
            var message = statusData.data('message');
            var state = statusData.data('state');
            $('.status-box p').text(message);
            $('#status-data').remove();
            return state;
        }

    </script>
</body>
</html>
